:root {
    --accent-color: rgb(255, 196, 0);
}

* {
    font-family: "Alegreya Sans", sans-serif;
}

body {
    background-color: rgba(245, 244, 244, 0.9);
}

/* Homepage */

nav {
    margin-top: 40px;
}

.yellow-icon {
    color: var(--accent-color);
}

.dropdown-menu {
    background-color: rgba(245, 244, 244, 0.9);
    border-radius: 5px;
}

.section-homepage {
    height: 80vh;
}

.hero {
    height: 80%;
    width: 100%;
    position: relative;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.headline {
    position: absolute;
    top: 94%;
    left: 2%;
    font-size: 60px;
    transform: translate(-20%, -70%);
    color: var(--accent-color);
    font-weight: bold;
    z-index: 2;
}

.hero::after {
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}

.search-bar {
    height: 30px;
    width: 300px;
    border-radius: 25px;
}
.splide__pagination {
    position: absolute;
    z-index: 1;
    bottom: -2.5em!important;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}

/* Create */

.yellow-presto {
    color: var(--accent-color);
    font-weight: bold;
}

/* Search */

.sad-smile {
    font-size: 70px;
}

.min-height {
    min-height: 80vh;
}

/* Cards */

.img-card {
    /* object-fit: cover;
    object-position: center; */
    border: hidden;
    border-radius: 5px;
}

.card-style {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
}

.tag-card {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    padding: 2px 10px;
}

.tag-teal-card {
    background-color: var(--accent-color);
}

button {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    color: var(--accent-color);
    outline: none;
}

/* Footer */

footer {
    background-color: rgb(250, 250, 250);
}

.languages-box {
    border: hidden;
    background-color: transparent;
}

.language,
.language:hover,
.language:active,
.language:visited {
    color: rgb(114, 114, 114);
}

.logo-footer {
    color: var(--accent-color);
}

/* Show */

.top-line {
    border-top: 1px solid rgb(214, 214, 214);
}

.tag-show {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    padding: 2px 10px;
}

.tag-teal-show {
    background-color: rgb(255, 196, 0);
}

/*Revisor show*/

.revisor-border {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
}

.button-archive {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(114, 114, 114);
    outline: none;
}

.label-api{

    list-style: none;

}

.yellow{

    color: rgb(255, 196, 0);

}

.VERY_UNLIKELY{

    color: rgb(3, 194, 3);

}

.UNLIKELY{

    color: rgb(3, 194, 3);

}

.POSSIBLE{

    color: orange;

}

.LIKELY{

    color: red;

}

.VERY_LIKELY{

    color: red;

}

/* Smartphone */

@media screen and (max-width: 480px) {
    nav {
        margin-top: 25px;
    }

    .search-bar {
        width: 250px;
    }

    .hide {
        display: none;
    }

    .headline {
        font-size: 18px;
        top: 97%;
        left: 4%;
    }

    .hero img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: right;
    }

    .card-title {
        font-size: 80%;
    }

    .tag-card {
        font-size: 50%;
    }

    .card-price {
        font-size: 80%;
    }

    .card-button {
        font-size: 70%;
    }
}

/* Tablet */

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .headline {
        font-size: 40px;
        top: 96%;
        left: 4%;
    }
}


.my-6{
    margin-top: 120px;
}